---
import { BASE_URL_ROMA2R } from './index_romasaga2r.astro';
---

<table border="1">
  <tr><th>七英雄</th><th>吸収したモンスター</th></tr>
  <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/kzinssie`>クジンシー</a></td><td>悪魔系、骸骨系、ゾンビ系</td></tr>
  <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/bokhohn`>ボクオーン</a></td><td>植物系</td></tr>
  <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/dantag`>ダンターグ</a></td><td>獣系</td></tr>
  <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/rocbouquet`>ロックブーケ</a></td><td>霊体系</td></tr>
  <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/noel`>ノエル</a></td><td>竜系</td></tr>
  <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/wagnas`>ワグナス</a></td><td>精霊系、有翼系</td></tr>
  <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/subier`>スービエ</a></td><td>水棲系、魚系</td></tr>
</table>
