---
import { Image } from 'astro:assets';
import { twitterCardEnum } from '../../../../../../components/BaseHead.astro';
import MainLayout, { bgEnum, type Breadcrumb } from '../../../../../../layouts/MainLayout.astro';
import { rightsEnum } from '../../../../../../components/Footer.astro';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { BASE_URL_ROMA2R, roma2rIndexPagebc } from '../../index_romasaga2r.astro';
import { roma2r7heroesIndexPagebc } from './seven_heroes_index.astro';
import pose_form1 from './img/bokhohn/pose_form1.jpg';
import pose_form2 from './img/bokhohn/pose_form2.jpg';
import 七英雄に取り入り from './img/bokhohn/七英雄に取り入り.jpg';
import 永遠の命を from './img/bokhohn/永遠の命を.jpg';
import ボクオーンでもなんでもない from './img/bokhohn/ボクオーンでもなんでもない.jpg';
import 名乗って見たかっただけ from './img/bokhohn/名乗って見たかっただけ.jpg';
import 麻薬作りもやめる from './img/bokhohn/麻薬作りもやめる.jpg';
import 許してくれ from './img/bokhohn/許してくれ.jpg';
import 許す from './img/bokhohn/許す.jpg';
import さすがは皇帝 from './img/bokhohn/さすがは皇帝.jpg';
import 二度目は許さん from './img/bokhohn/二度目は許さん.jpg';
import 甘いわ from './img/bokhohn/甘いわ.jpg';
import 再度二度目は許さん from './img/bokhohn/再度二度目は許さん.jpg';
import かかったな from './img/bokhohn/かかったな.jpg';
import 策が読まれて from './img/bokhohn/策が読まれて.jpg';
import ボクオーンがいる場所 from './img/bokhohn/ボクオーンがいる場所.jpg';
import 七英雄の記憶11の場所 from './img/bokhohn/七英雄の記憶11の場所.jpg';
import あと一手 from './img/bokhohn/あと一手.jpg';
import 戦況を優位に from './img/bokhohn/戦況を優位に.jpg';
import 策略に気付くボクオーン1 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン1.jpg';
import 策略に気付くボクオーン2 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン2.jpg';
import 策略に気付くボクオーン3 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン3.jpg';
import 策略に気付くボクオーン4 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン4.jpg';
import 策略に気付くボクオーン5 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン5.jpg';
import 策略に気付くボクオーン6 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン6.jpg';
import 策略に気付くボクオーン7 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン7.jpg';
import 策略に気付くボクオーン8 from './img/bokhohn/七英雄の記憶13_策略に気付くボクオーン8.jpg';
import エネミー図鑑_第一形態_本体 from './img/bokhohn/エネミー図鑑_第一形態_本体.jpg';
import エネミー図鑑_第一形態_人形1 from './img/bokhohn/エネミー図鑑_第一形態_人形1.jpg';
import エネミー図鑑_第一形態_人形2 from './img/bokhohn/エネミー図鑑_第一形態_人形2.jpg';
import エネミー図鑑_第二形態_本体 from './img/bokhohn/エネミー図鑑_第二形態_本体.jpg';
import エネミー図鑑_第二形態_大型人形 from './img/bokhohn/エネミー図鑑_第二形態_大型人形.jpg';
import エネミー図鑑_最終形態 from './img/bokhohn/エネミー図鑑_最終形態.jpg';
import エネミー図鑑_古代人 from './img/bokhohn/エネミー図鑑_古代人.jpg';
import 最終形態1 from './img/bokhohn/最終形態1.jpg';
import 最終形態2 from './img/bokhohn/最終形態2.jpg';
import 最終形態3 from './img/bokhohn/最終形態3.jpg';
import 古代人から見た七英雄の人物像1 from './img/古代人から見た七英雄の人物像1.jpg';
import ヴァイカー1 from './img/bokhohn/ヴァイカー1.jpg';
import ヴァイカー2 from './img/bokhohn/ヴァイカー2.jpg';
import critical_main from './img/bokhohn/critical_main.jpg';
import critical_right from './img/bokhohn/critical_right.jpg';
import critical_left from './img/bokhohn/critical_left.jpg';
import 薬草を作っている1 from './img/bokhohn/薬草を作っている1.jpg';
import 薬草を作っている2 from './img/bokhohn/薬草を作っている2.jpg';
import モンスターが増えて困っている1 from './img/bokhohn/モンスターが増えて困っている1.jpg';
import モンスターが増えて困っている2 from './img/bokhohn/モンスターが増えて困っている2.jpg';
import 七英雄の目的1 from './img/bokhohn/七英雄の目的1.jpg';
import 七英雄の目的2 from './img/bokhohn/七英雄の目的2.jpg';
import 七英雄の目的3 from './img/bokhohn/七英雄の目的3.jpg';

export const roma2rBokhohnPagebc: Breadcrumb = {
  name: "ボクオーン",
  item: `${BASE_URL_ROMA2R}/ancient_people/seven_heroes/bokhohn`
};
const breadcrumbList: Breadcrumb[] = [
  roma2rIndexPagebc,
  roma2r7heroesIndexPagebc,
  roma2rBokhohnPagebc
];
const indexList: index[] = [
  { id: "#personality", name: "人物像" },
  { id: "#character", name: "性格" },
  { id: "#system", name: "システム面" },
  { id: "#battle_pose", name: "戦闘前ポーズ" },
  { id: "#enemy_book", name: "エネミー図鑑" },
  { id: "#before_battle", name: "戦闘開始前" },
  { id: "#after_defeat", name: "倒した後" },
];
---

<MainLayout
  title="ボクオーン"
  description="ロマサガ2リメイクのボクオーンについて"
  twitterCardSize={twitterCardEnum.summaryLargeImage}
  breadcrumbList={breadcrumbList}
  indexList={indexList}
  background={bgEnum.roma2r_bokhohn}
  rights={rightsEnum.roma2r}>

  <br>
  <h3 class="title" id="personality">ボクオーンの人物像</h3>
  <p>
    七英雄の名前は山手線の駅名を逆から読んだもので、ボクオーンは新大久保から来ている。<br>
    （大久保駅は山手線ではないので新大久保のはず）<br>
    ステップで主に植物系モンスターを吸収している。<br>

    <br>
    古代人に対する復讐は考えていなさそうに見えるが、実際にはどうかはわからない。<br>
    <a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#fifteen`>七英雄の記憶15</a>でクジンシーが言っている通り、七英雄の目的は基本的には大神官・古代人への復讐だが、ワグナスが言うように忘れている可能性もあるし、<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/dantarg`>ダンターグ</a>のように「復讐など俺には関係ない」というスタンスの可能性もある。<br>
    <Image src={七英雄の目的1} width="700" alt="七英雄の目的1" /><br>
    <Image src={七英雄の目的2} width="700" alt="七英雄の目的2" /><br>
    <Image src={七英雄の目的3} width="700" alt="七英雄の目的3" /><br>
    <br>
    作中明言されていないのもの含めてボクオーンが関与していそうなイベントを見ると、ステップ、カンバーランドへ干渉してはいるようだが、何のために行動しているのかは不明。<br>
    その目的はゲーム中では明確に語られていないので、基本的に何を考えているのかはよくわからない。<br>
    ただ人間を支配したいだけなのかもしれないし、支配した人間を古代人への復讐に利用しようとしているのかもしれない。<br>
    具体的にボクオーンがやっていることは大きく以下3つ。<br>
  </p>
  <ul>
    <li>ステップに地上戦艦を作り、麻薬づくりに精を出している。</li>
    <li>ミラマーに運河要塞を建設し、帝国とカンバーランドの交流を断っている。</li>
    <li>カンバーランドの滅亡を企んでいる。</li>
  </ul>

  <br>
  <p>
    以下それぞれ詳細に見ていく。
  </p>

  <br>
  <h4 class="title">ステップで地上戦艦建設と麻薬作り</h4>
  <p>
    なぜかステップで地上戦艦を作り、そこで麻薬づくりに精を出している。<br>
    ステップに地上戦艦が現れた頃からモンスターが増え、麻薬はノーマッドが採取する薬草を奪って作られているため、ノーマッドに打撃を与えている。<br>
    <Image src={モンスターが増えて困っている1} width="700" alt="モンスターが増えて困っている1" /><br>
    <Image src={モンスターが増えて困っている2} width="700" alt="モンスターが増えて困っている2" /><br>
    <Image src={薬草を作っている1} width="700" alt="薬草を作っている1" /><br>
    <Image src={薬草を作っている2} width="700" alt="薬草を作っている2" /><br>
    <br>
    （ここはただの妄想ですが）ゲーム中では麻薬は広範囲にばら撒かれているわけではないが、最終的には世界中にばら撒いて人間の弱体化を狙っていたのかもしれない。<br>
  </p>

  <br>
  <h4 class="title">運河要塞の建設</h4>
  <p>
    ミラマーに運河要塞を建設し、帝国とカンバーランドの交流を断っている。<br>
    <span style="color: yellow">運河要塞のイベントが始まるきっかけって何だっけ？</span><br>
    運河要塞のボスであるヴァイカーはボクオーンの手下なので、明らかにボクオーンが関与している。<br>
    <Image src={ヴァイカー1} width="700" alt="ヴァイカー1" /><br>
    <Image src={ヴァイカー2} width="700" alt="ヴァイカー2" /><br>
    <br>
    運河要塞を攻略しないとカンバーランドのハロルド王からの連絡が来ない<span style="color: yellow">画像が欲しい</span>。<br>
    運河要塞は帝国とカンバーランド（を含むその他の地域）との交流を断つのにボクオーンが建設したということだろう。<br>
    帝国とカンバーランドの交流を断ち、連携を阻止。まずはカンバーランドを滅亡させ、次に帝国に攻め入ろうとしていたのかもしれない（妄想です）。<br>
  </p>

  <br>
  <h4 class="title">カンバーランドの滅亡計画</h4>
  <p>
    ゲーム中明言されていないが、恐らくサイフリートと繋がりがあり、カンバーランドの滅亡を企んでいる。<br>
    サイフリートは七英雄に取り入って永遠の命を手に入れようと画策している。<br>
    サイフリートの口からボクオーンの名前が出てきているわけではないが、サイフリートの一件の最中に長城からカンバーランドにモンスターが攻め入ったことからすると、恐らくステップにいるボクオーンと手を組んでいたのだと考えられる。<br>
    <Image src={七英雄に取り入り} width="700" alt="七英雄に取り入り" /><br>
    <Image src={永遠の命を} width="700" alt="永遠の命を" /><br>

    <br>
    カンバーランドが滅亡するとボクオーンが第二形態に変化するという点からしても、カンバーランドのイベントにボクオーンが関与していると想像できる。<br>
  </p>

  <br>
  <h3 class="title" id="character">性格</h3>
  <p>
    古代人から見たボクオーンは「ズル賢い」。<br>
    <Image src={古代人から見た七英雄の人物像1} width="700" alt="古代人から見た七英雄の人物像1" /><br>

    <br>
    <a href="#personality">人物像</a>の所でも見た通り、知略を巡らせて各国に攻め入ろうとしている印象がある。<br>
    また、卑怯な手段を使っても構わないという姿勢も見受けられる。<br>
    許すと後ろから攻撃を仕掛けてくる卑怯者。一度攻撃を仕掛けられて全滅して再度許すと2度は許さないとなる。<br>
    <span style="color: yellow">動画の方がいいかな</span>
    許す一回目<br>
    <Image src={ボクオーンでもなんでもない} width="700" alt="ボクオーンでもなんでもない" /><br>
    <Image src={名乗って見たかっただけ} width="700" alt="名乗って見たかっただけ" /><br>
    <Image src={麻薬作りもやめる} width="700" alt="麻薬作りもやめる" /><br>
    <Image src={許してくれ} width="700" alt="許してくれ" /><br>
    <Image src={許す} width="700" alt="許す" /><br>
    <Image src={さすがは皇帝} width="700" alt="さすがは皇帝" /><br>
    <Image src={二度目は許さん} width="700" alt="二度目は許さん" /><br>
    <Image src={甘いわ} width="700" alt="甘いわ" /><br>

    <br>
    <span style="color: yellow">動画の方がいいかな</span><br>
    許す二回目<br>
    <Image src={再度二度目は許さん} width="700" alt="再度二度目は許さん" /><br>
    <Image src={かかったな} width="700" alt="かかったな" /><br>
    <Image src={策が読まれて} width="700" alt="策が読まれて" /><br>

    <br>
    古代人時代は、その頭脳を活かして七英雄の参謀的ポジションだった。<br>
    <a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#five`>七英雄の記憶5</a>ではクィーン討伐戦におけるワグナスの作戦に一工夫加えたり、<br>
    <Image src={あと一手} width="700" alt="あと一手" /><br>
    <Image src={戦況を優位に} width="700" alt="戦況を優位に" /><br>

    <br>
    <a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#thirteen`>七英雄の記憶13</a>ではワグナスの処刑の際、警備が薄いことへの違和感を真っ先に感じている。<br>
    <Image src={策略に気付くボクオーン1} width="700" alt="策略に気付くボクオーン1" /><br>
    <Image src={策略に気付くボクオーン2} width="700" alt="策略に気付くボクオーン2" /><br>
    <Image src={策略に気付くボクオーン3} width="700" alt="策略に気付くボクオーン3" /><br>
    <Image src={策略に気付くボクオーン4} width="700" alt="策略に気付くボクオーン4" /><br>
    <Image src={策略に気付くボクオーン5} width="700" alt="策略に気付くボクオーン5" /><br>
    <Image src={策略に気付くボクオーン6} width="700" alt="策略に気付くボクオーン6" /><br>
    <Image src={策略に気付くボクオーン7} width="700" alt="策略に気付くボクオーン7" /><br>
    <Image src={策略に気付くボクオーン8} width="700" alt="策略に気付くボクオーン8" /><br>
  </p>

  <br>
  <h3 class="title" id="system">システム面</h3>
  <p>
    主に植物系モンスターを吸収しており、自身も植物化してしまったのか、大木断やマキ割りスペシャルでクリティカルが入る。人形にも入る。<br>
    <span style="color: yellow">大型人形、最終形態にもクリティカルが入る画像が欲しい</span><br>
    <Image src={critical_main} width="700" alt="critical_main" /><br>
    <Image src={critical_right} width="700" alt="critical_right" /><br>
    <Image src={critical_left} width="700" alt="critical_left" /><br>
    <br>
    地層が冥属性の時、ターン終了時にHPが回復する。<br>
    戦闘中、ある程度ダメージを与えると全力を出してきて形態が一つ進む。<br>
    戦闘開始時点で第二形態だった場合は人形と合体し、原作にはなかった最終形態になる。<br>
    <Image src={最終形態1} width="700" alt="最終形態1" /><br>
    <Image src={最終形態2} width="700" alt="最終形態2" /><br>
    <Image src={最終形態3} width="700" alt="最終形態3" /><br>

    <br>
    古代人状態のクジンシーがいる場所は、<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#eleven`>七英雄の記憶11</a>でクィーン討伐後に町に戻って「七英雄だ！」と言われた場所。<br>
    <Image src={ボクオーンがいる場所} width="700" alt="ボクオーンがいる場所" /><br>
    <br>
    七英雄の記憶11の画像<br>
    <Image src={七英雄の記憶11の場所} width="700" alt="七英雄の記憶11の場所" /><br>

    <br>
    ボクオーンは・・・なんだっけ。ワグナスの知り合い？？？。<br>
    復讐等を考えているのか何なのかよくわからない。麻薬を作っている。<br>
    全部で3つの形態を持つ（原作、リマスターは2形態）。最終形態がかなり強い。第一第二形態はかなり弱い。<br>

    地層は冥<br>
    ラスダン前七英雄<br>
    ラスダンの七英雄<br>
    古代人Verの七英雄<br>
    初登場<br>
    戦闘中<br>
    戦闘終了時<br>
  </p>

  <br>
  <h3 class="title" id="battle_pose">戦闘前ポーズ</h3>
  <p>
    第一形態<br>
    <Image src={pose_form1} width="500" alt="pose_form1" /><br>
    <br>
    第二形態<br>
    <Image src={pose_form2} width="500" alt="pose_form2" /><br>
  </p>

  <br>
  <h3 class="title" id="enemy_book">エネミー図鑑</h3>
  <p>
    第一形態<br>
    <Image src={エネミー図鑑_第一形態_本体} width="500" alt="第一形態_本体" /><br>
    <Image src={エネミー図鑑_第一形態_人形1} width="500" alt="第一形態_人形1" /><br>
    <Image src={エネミー図鑑_第一形態_人形2} width="500" alt="第一形態_人形2" /><br>

    <br>
    第二形態<br>
    <Image src={エネミー図鑑_第二形態_本体} width="500" alt="第二形態_本体" /><br>
    <Image src={エネミー図鑑_第二形態_大型人形} width="500" alt="第二形態_大型人形" /><br>

    <br>
    最終形態<br>
    <Image src={エネミー図鑑_最終形態} width="500" alt="最終形態" /><br>

    <br>
    古代人<br>
    <Image src={エネミー図鑑_古代人} width="500" alt="エネミー図鑑_古代人" /><br>
  </p>

  <br>
  <h3 class="title" id="before_battle">戦闘開始前</h3>
  <p>
    <span style="color: yellow">ここは動画の方がいいかな。</span><br>
  </p>

  <br>
  <h3 class="title" id="after_defeat">倒した後</h3>
  <p>
    <span style="color: yellow">ここは動画の方がいいかな。</span><br>
  </p>

  <br>
  <h3 class="title">参考</h3>
  <ul>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E3%83%9C%E3%82%AF%E3%82%AA%E3%83%BC%E3%83%B3%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【ボクオーン】</a></li>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E3%82%B5%E3%82%A4%E3%83%95%E3%83%AA%E3%83%BC%E3%83%88%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【サイフリート】</a></li>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E5%90%B8%E5%8F%8E%E3%81%AE%E6%B3%95%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【吸収の法】</a></li>
    <li><a href="https://dic.pixiv.net/a/%E3%83%9C%E3%82%AF%E3%82%AA%E3%83%BC%E3%83%B3" target="_blank" rel="noopener noreferrer">ピクシブ百科事典 ボクオーン</a></li>
    <li><a href="https://game8.jp/romasaga2-remake/650704" target="_blank" rel="noopener noreferrer">Game8 【ロマサガ2 リメイク】ボクオーンの攻略と出現マップ【リベンジオブザセブン】</a></li>
    <li><a href="https://www.jp.square-enix.com/rs2r/character/bokhohn/" target="_blank" rel="noopener noreferrer">SQUARE ENIX ボクオーン</a></li>
  </ul>
</MainLayout>
