---
import { twitterCardEnum } from '../../../../../../components/BaseHead.astro';
import MainLayout, { bgEnum, type Breadcrumb } from '../../../../../../layouts/MainLayout.astro';
import { rightsEnum } from '../../../../../../components/Footer.astro';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import AdUnitLandscape from '../../../../../../components/AdUnitLandscape.astro';
import { BASE_URL_ROMA2R, roma2rIndexPagebc } from '../../index_romasaga2r.astro';
import { roma2r7heroesIndexPagebc } from './seven_heroes_index.astro';

export const roma2r7HeroesMemoryPagebc: Breadcrumb = {
  name: "七英雄の記憶",
  item: `${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory`
};
const breadcrumbList: Breadcrumb[] = [
  roma2rIndexPagebc,
  roma2r7heroesIndexPagebc,
  roma2r7HeroesMemoryPagebc
];
const indexList: index[] = [
  { id: "#one", name: "記憶１" },
  { id: "#two", name: "記憶２" },
  { id: "#three", name: "記憶３" },
  { id: "#four", name: "記憶４" },
  { id: "#five", name: "記憶５" },
  { id: "#six", name: "記憶６" },
  { id: "#seven", name: "記憶７" },
  { id: "#eight", name: "記憶８" },
  { id: "#nine", name: "記憶９" },
  { id: "#ten", name: "記憶１０" },
  { id: "#eleven", name: "記憶１１" },
  { id: "#twelve", name: "記憶１２" },
  { id: "#thirteen", name: "記憶１３" },
  { id: "#fourteen", name: "記憶１４" },
  { id: "#fifteen", name: "記憶１５" },
];
---

<MainLayout
  title="七英雄の記憶"
  description="ロマサガ2リメイクの七英雄の記憶を集めてみました"
  twitterCardSize={twitterCardEnum.summaryLargeImage}
  breadcrumbList={breadcrumbList}
  indexList={indexList}
  background={bgEnum.roma2r_seven_heroes}
  rights={rightsEnum.roma2r}>

  <br/>
  <span id="one"></span>
  <h3 class="title">七英雄の記憶１ 迫る大災厄と次元転移装置</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_466-V4Ovsc?si=RmoXNCgDpqqxaHIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="two"></span>
  <h3 class="title">七英雄の記憶２ オアイーブの祈り</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NfXSY7vb4oM?si=aPnFYdL0yjvIpy3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="three"></span>
  <h3 class="title">七英雄の記憶３ スービエの参戦</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zHJrnZF-vg4?si=KjFHd4YQvgjW84Ep" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="four"></span>
  <h3 class="title">七英雄の記憶４ ノエルとダンターグの共闘</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y1m8KB3RzWs?si=GGOXAWgLoj0GnAD3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="five"></span>
  <h3 class="title">七英雄の記憶５ ボクオーンの参戦</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5vyMrOIM4aw?si=WO76V9i7fJDcvLDP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <br/>
  <AdUnitLandscape />
  <br/>

  <br/>
  <span id="six"></span>
  <h3 class="title">七英雄の記憶６ ノエルの挫折</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F3iuML_FVFo?si=CXyJK6lWdcKItS18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="seven"></span>
  <h3 class="title">七英雄の記憶７ 攻め来るターム</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yEdSieXuP94?si=v30zhbUVenQGIVGV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="eight"></span>
  <h3 class="title">七英雄の記憶８ 吸収の法</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xYS22bivMNY?si=S506IHOSNVPO9m-u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="nine"></span>
  <h3 class="title">七英雄の記憶９ ターム殲滅戦</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RVscVhKZzao?si=wI_dIrwlxuWPKPe9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="ten"></span>
  <h3 class="title">七英雄の記憶１０ クィーン討伐戦</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/R8oFm6vTlxQ?si=4y61Q-5dysmuNm33" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <br/>
  <AdUnitLandscape />
  <br/>

  <span id="eleven"></span>
  <h3 class="title">七英雄の記憶１１ 七英雄凱旋</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SXSKhv48GD8?si=1bxc-ZoHgfgA-NC1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="twelve"></span>
  <h3 class="title">七英雄の記憶１２ 大神官の罠</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/92HXGksHIFI?si=jeE6LVXaJYzMA65Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="thirteen"></span>
  <h3 class="title">七英雄の記憶１３ 七英雄の追放①</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4fiD2bJoQGY?si=2tHm8ftctdN-tc8R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="fourteen"></span>
  <h3 class="title">七英雄の記憶１４ 七英雄の追放②</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8waFx0kyUOc?si=etf0QyRsqnBnvdci" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>

  <br/>
  <span id="fifteen"></span>
  <h3 class="title">七英雄の記憶１５ 血の誓い</h3>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hRo6CeadgLA?si=yBF-Co5TuKxjED8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <br/>
</MainLayout>
