---
import { Image } from 'astro:assets';
import { twitterCardEnum } from '../../../../../../components/BaseHead.astro';
import MainLayout, { bgEnum, type Breadcrumb } from '../../../../../../layouts/MainLayout.astro';
import { rightsEnum } from '../../../../../../components/Footer.astro';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { BASE_URL_ROMA2R, roma2rIndexPagebc } from '../../index_romasaga2r.astro';
import { roma2r7heroesIndexPagebc } from './seven_heroes_index.astro';
import pose_form1 from './img/subier/pose_form1.jpg'
import pose_form2 from './img/subier/pose_form2.jpg'
import エレメントコーティング_スービエ from './img/subier/エレメントコーティング_スービエ.jpg'
import エレメントコーティング_海の主 from './img/subier/エレメントコーティング_海の主.jpg'
import 召し使えていた from './img/seven_heroes/召し使えていた.jpg'
import 下等動物にしては from './img/subier/下等動物にしては.jpg'
import この俺が from './img/subier/この俺が.jpg'
import 下劣な短命種に from './img/subier/下劣な短命種に.jpg'
import お前ほどの槍の使い手は from './img/subier/お前ほどの槍の使い手は.jpg'
import これと決めた時 from './img/subier/これと決めた時.jpg'
import 非凡な知恵 from './img/subier/非凡な知恵.jpg'
import 不可欠の戦士 from './img/subier/不可欠の戦士.jpg'
import スービエの幻影がいる場所 from './img/subier/スービエの幻影がいる場所.jpg'
import スービエがいた場所_七英雄の記憶3 from './img/subier/スービエがいた場所_七英雄の記憶3.jpg'
import ダンターグボクオーンクジンシースービエ from './img/seven_heroes/ダンターグ、ボクオーン、クジンシー、スービエ.jpg'
import エネミー図鑑_第一形態 from './img/subier/エネミー図鑑_第一形態.jpg'
import エネミー図鑑_第二形態 from './img/subier/エネミー図鑑_第二形態.jpg'
import エネミー図鑑_古代人 from './img/subier/エネミー図鑑_古代人.jpg'
import スービエの目的_第二形態01 from './img/subier/スービエの目的_第二形態01.jpg'
import スービエの目的_第二形態02 from './img/subier/スービエの目的_第二形態02.jpg'
import スービエの目的_第二形態03 from './img/subier/スービエの目的_第二形態03.jpg'
import スービエの目的_第二形態04 from './img/subier/スービエの目的_第二形態04.jpg'
import スービエの目的_第二形態05 from './img/subier/スービエの目的_第二形態05.jpg'
import スービエの目的_第二形態06 from './img/subier/スービエの目的_第二形態06.jpg'
import スービエの目的_第二形態07 from './img/subier/スービエの目的_第二形態07.jpg'
import スービエの目的_第二形態08 from './img/subier/スービエの目的_第二形態08.jpg'
import スービエの目的_第二形態09 from './img/subier/スービエの目的_第二形態09.jpg'
import スービエの目的_第二形態10 from './img/subier/スービエの目的_第二形態10.jpg'
import スービエの目的_第一形態1 from './img/subier/スービエの目的_第一形態1.jpg'
import スービエの目的_第一形態2 from './img/subier/スービエの目的_第一形態2.jpg'
import スービエの目的_第一形態3 from './img/subier/スービエの目的_第一形態3.jpg'
import 話を聞こうと思っていた1 from './img/subier/話を聞こうと思っていた1.jpg'
import 話を聞こうと思っていた2 from './img/subier/話を聞こうと思っていた2.jpg'
import 話を聞こうと思っていた3 from './img/subier/話を聞こうと思っていた3.jpg'
import 話を聞こうと思っていた4 from './img/subier/話を聞こうと思っていた4.jpg'
import 伝説の大波に乗れたらついていく1 from './img/subier/伝説の大波に乗れたらついていく1.jpg'
import 伝説の大波に乗れたらついていく2 from './img/subier/伝説の大波に乗れたらついていく2.jpg'
import 伝説の大波に乗れたらついていく3 from './img/subier/伝説の大波に乗れたらついていく3.jpg'
import 伝説の大波に乗れたらついていく4 from './img/subier/伝説の大波に乗れたらついていく4.jpg'
import 伝説の大波に乗れたらついていく5 from './img/subier/伝説の大波に乗れたらついていく5.jpg'
import 伝説の大波に乗れたらついていく6 from './img/subier/伝説の大波に乗れたらついていく6.jpg'
import 伝説の大波に乗れたらついていく7 from './img/subier/伝説の大波に乗れたらついていく7.jpg'
import 伝説の大波に乗れたらついていく8 from './img/subier/伝説の大波に乗れたらついていく8.jpg'
import ボクオーンと合わなさそうなスービエ from './img/subier/ボクオーンと合わなさそうなスービエ.jpg'
import スービエ第二形態 from './img/subier/スービエ第二形態.jpg'

export const roma2rSubierPagebc: Breadcrumb = {
  name: "スービエ",
  item: `${BASE_URL_ROMA2R}/ancient_people/seven_heroes/subier`
};
const breadcrumbList: Breadcrumb[] = [
  roma2rIndexPagebc,
  roma2r7heroesIndexPagebc,
  roma2rSubierPagebc
];
const indexList: index[] = [
  { id: "#personality", name: "人物像" },
  { id: "#purpose", name: "スービエの目的" },
  { id: "#element_coating", name: "エレメントコーティング" },
  { id: "#ancient_subier", name: "古代人時代" },
  { id: "#battle_pose", name: "戦闘前ポーズ" },
  { id: "#enemy_book", name: "エネミー図鑑" },
  { id: "#before_battle", name: "戦闘開始前" },
  { id: "#after_defeat", name: "倒した後" },
];
---

<MainLayout
  title="スービエ"
  description="ロマサガ2リメイクのスービエについて"
  twitterCardSize={twitterCardEnum.summaryLargeImage}
  breadcrumbList={breadcrumbList}
  indexList={indexList}
  background={bgEnum.roma2r_subier}
  rights={rightsEnum.roma2r}>

  <br>
  <h3 class="title" id="personality">人物像</h3>
  <p>
    七英雄の名前は山手線の駅名を逆から読んだもので、スービエは恵比寿から来ている。<br>
    スービエはワグナスの従兄弟。<br>
    <Image src={ダンターグボクオーンクジンシースービエ} width="700" alt="ダンターグ、ボクオーン、クジンシー、スービエ" /><br>

    <br>
    水棲系、魚系モンスターを吸収している。<br>
    特に第二形態は海の主の娘を吸収したことがその姿に表れている。<br>
    <Image src={スービエ第二形態} width="700" alt="スービエ第二形態" /><br>

    <br>
    原作（SFC、リマスター）では、皇帝のHPが700を越えると殆どの七英雄は第二形態に進化する仕様だった（一部例外有り）が、リメイクでは、七英雄を4体以上撃破すると残りの七英雄は第二形態に進化するようになっている。<br>
    スービエも例外ではなく、海の主と和解した上でスービエを5体目以降に回した場合、「海の主と同化した力を見よ」という台詞を吐くにもかかわらず海の主（と娘）はワイリンガ湖で悠々と泳いでいるという状況が発生しうる。<br>
  </p>

  <br>
  <h4 class="title">短命種を見下している</h4>
  <p>
    戦闘中の「下等動物にしてはよく足掻く」という台詞や、戦闘終了後の「この俺が下劣な短命種に・・・！！」という台詞から、短命種（現代の人間）を見下しているということがよくわかる。<br>

    <br>
    戦闘中<br>
    <Image src={下等動物にしては} width="700" alt="下等動物にしては" /><br>
    <br>
    戦闘終了後<br>
    <Image src={この俺が} width="700" alt="この俺が" /><br>
    <Image src={下劣な短命種に} width="700" alt="下劣な短命種に" /><br>

    <br>
    忘れられた町の人の台詞に「私たちはあなた方を召し使えていた」とあるので、大多数の古代人にとっては自分たちは短命種よりも上位の存在であるという価値観だったんでしょう。<br>
    <Image src={召し使えていた} width="700" alt="召し使えていた" /><br>
  </p>

  <br>
  <h3 class="title" id="purpose">スービエの目的</h3>
  <p>
    スービエは明確に復讐のために古代人を探している。<br>
    <Image src={スービエの目的_第二形態01} width="700" alt="スービエの目的_第二形態01" /><br>
    <Image src={スービエの目的_第二形態02} width="700" alt="スービエの目的_第二形態02" /><br>
    <Image src={スービエの目的_第二形態03} width="700" alt="スービエの目的_第二形態03" /><br>
    <Image src={スービエの目的_第二形態04} width="700" alt="スービエの目的_第二形態04" /><br>
    <Image src={スービエの目的_第二形態05} width="700" alt="スービエの目的_第二形態05" /><br>
    <Image src={スービエの目的_第二形態06} width="700" alt="スービエの目的_第二形態06" /><br>
    <Image src={スービエの目的_第二形態07} width="700" alt="スービエの目的_第二形態07" /><br>
    <Image src={スービエの目的_第二形態08} width="700" alt="スービエの目的_第二形態08" /><br>
    <Image src={スービエの目的_第二形態09} width="700" alt="スービエの目的_第二形態09" /><br>
    <Image src={スービエの目的_第二形態10} width="700" alt="スービエの目的_第二形態10" /><br>

    <br>
    第一形態の時は目的を教えてくれない。<br>
    <Image src={スービエの目的_第一形態1} width="700" alt="スービエの目的_第一形態1" /><br>
    <Image src={スービエの目的_第一形態2} width="700" alt="スービエの目的_第一形態2" /><br>
    <Image src={スービエの目的_第一形態3} width="700" alt="スービエの目的_第一形態3" /><br>

    <br>
    <span style="color: yellow">沈没船で戦闘する時は台詞変わる？要確認</span><br>
  </p>

  <br>
  <h3 class="title" id="element_coating">エレメントコーティング</h3>
  <p>
    第二形態が使用してくるエレメントコーティングは海の主が使ってくる技。角を破壊するとエレメントコーティング状態を解除できる。<br>
    <span style="color: yellow">海の主の角を折ったらエレメントコーティングが剥がれる？画像が欲しい。角が折れた海の主の画像も欲しい。</span><br>
    <Image src={エレメントコーティング_海の主} width="700" alt="エレメントコーティング_海の主" /><br>

    <br>
    スービエの槍は海の主の娘の角を削り出したもので、スービエがエレメントコーティングを使用する際は槍が光を発していることが確認できる。<br>
    槍の力でエレメントコーティングを使用しているのだろう。<br>
    <Image src={エレメントコーティング_スービエ} width="700" alt="エレメントコーティング_スービエ" /><br>
  </p>

  <br>
  地層は水<br>

  ラスダン前七英雄<br>
  ラスダンの七英雄<br>
  古代人Verの七英雄<br>
  初登場<br>
  戦闘中<br>
  戦闘終了時<br>

  <br>
  <h3 class="title" id="ancient_subier">古代人時代</h3>
  <p>
    槍の使い手としてワグナスから一目置かれている。<br>
    以下の画像は<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#three`>七英雄の記憶3</a>の画像<br>
    <Image src={お前ほどの槍の使い手は} width="700" alt="お前ほどの槍の使い手は" /><br>
    <Image src={これと決めた時} width="700" alt="これと決めた時" /><br>
    <Image src={非凡な知恵} width="700" alt="非凡な知恵" /><br>
    <Image src={不可欠の戦士} width="700" alt="不可欠の戦士" /><br>

    <br>
    以下の画像も同じく<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#three`>七英雄の記憶3</a>でのワグナスとのやり取り。<br>
    全量は上記リンク先の動画を見てほしいですが、「他国に渡るつもりだったが、ワグナスが頼ってきたら話を聞こうと思っていた」だの、「伝説の大波が来るかもしれないからその波に乗れたらワグナスについていく」。とかよくわからないことを言う。<br>
    「運命」という言葉を連発してくるあたり、理屈よりは直感的に物事を考えるタイプに見える。<br>
    <Image src={話を聞こうと思っていた1} width="700" alt="話を聞こうと思っていた1" /><br>
    <Image src={話を聞こうと思っていた2} width="700" alt="話を聞こうと思っていた2" /><br>
    <Image src={話を聞こうと思っていた3} width="700" alt="話を聞こうと思っていた3" /><br>
    <Image src={話を聞こうと思っていた4} width="700" alt="話を聞こうと思っていた4" /><br>
    <Image src={伝説の大波に乗れたらついていく1} width="700" alt="伝説の大波に乗れたらついていく1" /><br>
    <Image src={伝説の大波に乗れたらついていく2} width="700" alt="伝説の大波に乗れたらついていく2" /><br>
    <Image src={伝説の大波に乗れたらついていく3} width="700" alt="伝説の大波に乗れたらついていく3" /><br>
    <Image src={伝説の大波に乗れたらついていく4} width="700" alt="伝説の大波に乗れたらついていく4" /><br>
    <Image src={伝説の大波に乗れたらついていく5} width="700" alt="伝説の大波に乗れたらついていく5" /><br>
    <Image src={伝説の大波に乗れたらついていく6} width="700" alt="伝説の大波に乗れたらついていく6" /><br>
    <Image src={伝説の大波に乗れたらついていく7} width="700" alt="伝説の大波に乗れたらついていく7" /><br>
    <Image src={伝説の大波に乗れたらついていく8} width="700" alt="伝説の大波に乗れたらついていく8" /><br>

    <br>
    ボクオーンのような、参謀的役割で理屈で物事を考えてそうな人物とはなんとなく相性が悪そうな気がする（管理人の勝手なイメージです）。<br>
    実際、<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#five`>七英雄の記憶5</a>でスービエがボクオーンに「口を慎め」と言っている場面がある。<br>
    <Image src={ボクオーンと合わなさそうなスービエ} width="700" alt="ボクオーンと合わなさそうなスービエ" /><br>

    <br>
    恐妃の都でスービエの幻影がいる場所は、<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#three`>七英雄の記憶3</a>でワグナスがスービエを勧誘した場所。<br>
    恐妃の都にいるスービエの幻影<br>
    <Image src={スービエの幻影がいる場所} width="700" alt="スービエの幻影がいる場所" /><br>
    <br>
    七英雄の記憶<br>
    <Image src={スービエがいた場所_七英雄の記憶3} width="700" alt="スービエがいた場所_七英雄の記憶3" /><br>
  </p>

  <br>
  <h3 class="title" id="battle_pose">戦闘前ポーズ</h3>
  <p>
    第一形態<br>
    <Image src={pose_form1} width="500" alt="pose_form1" /><br>
    <br>
    第二形態<br>
    <Image src={pose_form2} width="500" alt="pose_form2" /><br>
  </p>

  <br>
  <h3 class="title" id="enemy_book">エネミー図鑑</h3>
  <p>
    第一形態<br>
    <Image src={エネミー図鑑_第一形態} width="500" alt="エネミー図鑑_第一形態" /><br>
    <br>
    第二形態<br>
    <Image src={エネミー図鑑_第二形態} width="500" alt="エネミー図鑑_第二形態" /><br>
    <br>
    古代人<br>
    <Image src={エネミー図鑑_古代人} width="500" alt="エネミー図鑑_古代人" /><br>
  </p>

  <br>
  <h3 class="title" id="before_battle">戦闘開始前</h3>
  <p>
    <span style="color: yellow">ここは動画の方がいいかな。</span><br>
  </p>

  <br>
  <h3 class="title" id="after_defeat">倒した後</h3>
  <p>
    <span style="color: yellow">ここは動画の方がいいかな。</span><br>
  </p>

  <br>
  <h3 class="title">参考</h3>
  <ul>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E3%82%B9%E3%83%BC%E3%83%93%E3%82%A8%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【スービエ】</a></li>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E6%B5%B7%E3%81%AE%E4%B8%BB%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【海の主】</a></li>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E5%90%B8%E5%8F%8E%E3%81%AE%E6%B3%95%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【吸収の法】</a></li>
    <li><a href="https://www.jp.square-enix.com/rs2r/character/subier/" target="_blank" rel="noopener noreferrer">SQUARE ENIX スービエ</a></li>
  </ul>
</MainLayout>
