---
import { Image } from 'astro:assets';
import { twitterCardEnum } from '../../../../../../components/BaseHead.astro';
import MainLayout, { bgEnum, type Breadcrumb } from '../../../../../../layouts/MainLayout.astro';
import { rightsEnum } from '../../../../../../components/Footer.astro';
import type { index } from '../../../../../../components/HeaderIndex.astro';
import { BASE_URL_ROMA2R, roma2rIndexPagebc } from '../../index_romasaga2r.astro';
import { roma2r7heroesIndexPagebc } from './seven_heroes_index.astro';
import pose_form1 from './img/wagnas/pose_form1.jpg'
import pose_form2 from './img/wagnas/pose_form2.jpg'
import 形は蝶 from './img/wagnas/形は蝶.jpg'
import 胡蝶の剣 from './img/wagnas/胡蝶の剣.jpg'
import ロザリオインペール from './img/wagnas/ロザリオインペール.jpg'
import 古代人ワグナスの服装 from './img/wagnas/古代人ワグナスの服装.jpg'
import 落鳳破でクリティカル from './img/wagnas/落鳳破でクリティカル.jpg'
import 図鑑第一形態ワグナス from './img/wagnas/図鑑第一形態ワグナス.jpg'
import 図鑑第二形態ワグナス from './img/wagnas/図鑑第二形態ワグナス.jpg'
import 赤い炎 from './img/wagnas/赤い炎.jpg'
import 青い炎 from './img/wagnas/青い炎.jpg'
import 図鑑古代人ワグナス from './img/wagnas/図鑑古代人ワグナス.jpg'
import アラバカンの丘 from './img/wagnas/アラバカンの丘.jpg'
import 囚われのワグナス from './img/wagnas/囚われのワグナス.jpg'
import 古代人ワグナスとの対峙 from './img/wagnas/古代人ワグナスとの対峙.jpg'
import 崖から見える家 from './img/wagnas/崖から見える家.jpg'
import 覗いている大神官 from './img/wagnas/覗いている大神官.jpg'
import 復讐の裁き1 from './img/wagnas/復讐の裁き1.jpg'
import 復讐の裁き2 from './img/wagnas/復讐の裁き2.jpg'
import 復讐の裁き3 from './img/wagnas/復讐の裁き3.jpg'
import 復讐の裁き4 from './img/wagnas/復讐の裁き4.jpg'
import 吸収の法01 from './img/wagnas/吸収の法01.jpg'
import 吸収の法02 from './img/wagnas/吸収の法02.jpg'
import 吸収の法03 from './img/wagnas/吸収の法03.jpg'
import 吸収の法04 from './img/wagnas/吸収の法04.jpg'
import 吸収の法05 from './img/wagnas/吸収の法05.jpg'
import 吸収の法06 from './img/wagnas/吸収の法06.jpg'
import 吸収の法07 from './img/wagnas/吸収の法07.jpg'
import 吸収の法08 from './img/wagnas/吸収の法08.jpg'
import 吸収の法09 from './img/wagnas/吸収の法09.jpg'
import 吸収の法10 from './img/wagnas/吸収の法10.jpg'
import 吸収の法11 from './img/wagnas/吸収の法11.jpg'
import 吸収の法12 from './img/wagnas/吸収の法12.jpg'
import 吸収の法13 from './img/wagnas/吸収の法13.jpg'
import 吸収の法14 from './img/wagnas/吸収の法14.jpg'
import 吸収の法15 from './img/wagnas/吸収の法15.jpg'
import 吸収の法16 from './img/wagnas/吸収の法16.jpg'
import 吸収の法17 from './img/wagnas/吸収の法17.jpg'
import 吸収の法18 from './img/wagnas/吸収の法18.jpg'
import 大神官の罠01 from './img/wagnas/大神官の罠01.jpg'
import 大神官の罠02 from './img/wagnas/大神官の罠02.jpg'
import 大神官の罠03 from './img/wagnas/大神官の罠03.jpg'
import 大神官の罠04 from './img/wagnas/大神官の罠04.jpg'
import 大神官の罠05 from './img/wagnas/大神官の罠05.jpg'
import 大神官の罠06 from './img/wagnas/大神官の罠06.jpg'
import 大神官の罠07 from './img/wagnas/大神官の罠07.jpg'
import 大神官の罠08 from './img/wagnas/大神官の罠08.jpg'
import 大神官の罠09 from './img/wagnas/大神官の罠09.jpg'
import 大神官の罠10 from './img/wagnas/大神官の罠10.jpg'
import 大神官の罠11 from './img/wagnas/大神官の罠11.jpg'
import 大神官の罠12 from './img/wagnas/大神官の罠12.jpg'
import 大神官の罠13 from './img/wagnas/大神官の罠13.jpg'
import エンディングのアラバカンの丘 from './img/wagnas/エンディングのアラバカンの丘.jpg'
import イーリス1 from './img/wagnas/イーリス1.jpg'
import イーリス2 from './img/wagnas/イーリス2.jpg'

export const roma2rWagnasPagebc: Breadcrumb = {
  name: "ワグナス",
  item: `${BASE_URL_ROMA2R}/ancient_people/seven_heroes/wagnas`
};
const breadcrumbList: Breadcrumb[] = [
  roma2rIndexPagebc,
  roma2r7heroesIndexPagebc,
  roma2rWagnasPagebc
];
const indexList: index[] = [
  { id: "#personality", name: "人物像" },
  { id: "#purpose", name: "ワグナスの目的" },
  { id: "#ancient_wagnas", name: "古代人時代" },
  { id: "#battle_pose", name: "戦闘前ポーズ" },
  { id: "#enemy_book", name: "エネミー図鑑" },
  { id: "#before_battle", name: "戦闘開始前" },
  { id: "#after_defeat", name: "倒した後" },
];
---

<MainLayout
  title="ワグナス"
  description="ロマサガ2リメイクのワグナスについて"
  twitterCardSize={twitterCardEnum.summaryLargeImage}
  breadcrumbList={breadcrumbList}
  indexList={indexList}
  background={bgEnum.roma2r_wagnas}
  rights={rightsEnum.roma2r}>

  <br>
  <h3 class="title" id="personality">人物像</h3>
  <p>
    七英雄の名前は山手線の駅名を逆から読んだもので、ワグナスは品川から来ている。<br>
    七英雄のリーダー。<br>
    ヤウダ地方のハクロ城を根城にし、その地方の国に対して軍事的な圧力を加えている。ゲーム中の情報ではこの開戦の意図や目的は不明である。<br>
    女性のような姿をしているが、性別は男性。「同化の法」により女性型妖精系モンスターを中心に取り込んだ影響で身体が女体化したのだろうと推測されている。<br>
    イーリス族を吸収したという説もある。<br>
    こんな可愛いイーリス吸収してたかもしれないなんてちょっと許せねぇなぁ！<br>
    <Image src={イーリス1} width="700" alt="イーリス1" /><br>
    <Image src={イーリス2} width="700" alt="イーリス2" /><br>

    <br>
    何故か蝶にやたらこだわりがある。<br>
    全体的には蝶のような形をしている。<br>
    <Image src={形は蝶} width="700" alt="形は蝶" /><br>
    <br>
    ワグナスが所有している剣の名前は『胡蝶の剣』だし、鍔の部分も蝶の形をしている。<br>
    <Image src={胡蝶の剣} width="500" alt="胡蝶の剣" /><br>
    <br>
    胡蝶の剣の固有技、ロザリオインペールのエフェクト。紫色に光る蝶のような形をしたものが舞っているように見える。<br>
    <Image src={ロザリオインペール} width="700" alt="ロザリオインペール" /><br>

    <br>
    古代人ワグナスの服装も蝶を彷彿とさせる装飾が施されている。<br>
    <Image src={古代人ワグナスの服装} width="700" alt="古代人ワグナスの服装" /><br>

    <br>
    浮遊しているので落鳳破でクリティカルが入る。<br>
    <Image src={落鳳破でクリティカル} width="700" alt="落鳳破でクリティカル" /><br>
  </p>

  <br>
  <h3 class="title" id="purpose">ワグナスの目的</h3>
  <p>
    元々ワグナスは正義感が強い人物で、人類の滅亡を防ぐための次元転移装置の開発と、人々を守るためにターム殲滅を責任者という立場で推し進めていた。<br>
    特にターム殲滅に関しては、<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#eight`>七英雄の記憶8</a>でノエルが『吸収の法』の存在について言及すると、危険性を承知の上でノエル、スービエと結束する。<br>
    <span style="color: yellow">吸収の法の話は別ページにした方がいいかも？</span><br>
    <Image src={吸収の法01} width="700" alt="吸収の法01" /><br>
    <Image src={吸収の法02} width="700" alt="吸収の法02" /><br>
    <Image src={吸収の法03} width="700" alt="吸収の法03" /><br>
    <Image src={吸収の法04} width="700" alt="吸収の法04" /><br>
    <Image src={吸収の法05} width="700" alt="吸収の法05" /><br>
    <Image src={吸収の法06} width="700" alt="吸収の法06" /><br>
    <Image src={吸収の法07} width="700" alt="吸収の法07" /><br>
    <Image src={吸収の法08} width="700" alt="吸収の法08" /><br>
    <Image src={吸収の法09} width="700" alt="吸収の法09" /><br>
    <Image src={吸収の法10} width="700" alt="吸収の法10" /><br>
    <Image src={吸収の法11} width="700" alt="吸収の法11" /><br>
    <Image src={吸収の法12} width="700" alt="吸収の法12" /><br>
    <Image src={吸収の法13} width="700" alt="吸収の法13" /><br>
    <Image src={吸収の法14} width="700" alt="吸収の法14" /><br>
    <Image src={吸収の法15} width="700" alt="吸収の法15" /><br>
    <Image src={吸収の法16} width="700" alt="吸収の法16" /><br>

    <br>
    その後ワグナスとノエルで吸収の法を研究・実現させ、新たな力を七英雄に分け与えてタームを討伐する。<br>
    <Image src={吸収の法17} width="700" alt="吸収の法17" /><br>
    <Image src={吸収の法18} width="700" alt="吸収の法18" /><br>

    <br>
    しかし<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#twelve`>七英雄の記憶12</a>にある通り、大神官の策略により、ワグナスは国王殺しの罪を着せられる。<br>
    <Image src={大神官の罠01} width="700" alt="大神官の罠01" /><br>
    <Image src={大神官の罠02} width="700" alt="大神官の罠02" /><br>
    <Image src={大神官の罠03} width="700" alt="大神官の罠03" /><br>
    <Image src={大神官の罠04} width="700" alt="大神官の罠04" /><br>
    <Image src={大神官の罠05} width="700" alt="大神官の罠05" /><br>
    <Image src={大神官の罠06} width="700" alt="大神官の罠06" /><br>
    <Image src={大神官の罠07} width="700" alt="大神官の罠07" /><br>
    <Image src={大神官の罠08} width="700" alt="大神官の罠08" /><br>
    <Image src={大神官の罠09} width="700" alt="大神官の罠09" /><br>
    <Image src={大神官の罠10} width="700" alt="大神官の罠10" /><br>
    <Image src={大神官の罠11} width="700" alt="大神官の罠11" /><br>
    <Image src={大神官の罠12} width="700" alt="大神官の罠12" /><br>
    <Image src={大神官の罠13} width="700" alt="大神官の罠13" /><br>

    <br>
    挙句、開発途中の次元転移装置を使って七英雄もろとも違う世界へ転移させられてしまう。<br>
    この出来事が原因で、ワグナスは古代人へ復讐を誓い、復讐のために居場所を探している。<br>
    以下は<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#thirteen`>七英雄の記憶13</a>の画像<br>
    <Image src={復讐の裁き1} width="700" alt="復讐の裁き1" /><br>
    <Image src={復讐の裁き2} width="700" alt="復讐の裁き2" /><br>
    <Image src={復讐の裁き3} width="700" alt="復讐の裁き3" /><br>
    <Image src={復讐の裁き4} width="700" alt="復讐の裁き4" /><br>
  </p>

  <br>
  <h3 class="title" id="ancient_wagnas">古代人時代</h3>
  <p>
    画像は<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#eleven`>七英雄の記憶11</a>の画像。七英雄を罠にはめて次元転移させた場所は『アラバカンの丘』という名前だということがわかる。<br>
    <Image src={アラバカンの丘} width="700" alt="アラバカンの丘"/><br>

    <br>
    画像は<a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#thirteen`>七英雄の記憶13</a>で七英雄が強制的に次元転移させられる直前の画像。これがアラバカンの丘。<br>
    <Image src={囚われのワグナス} width="700" alt="囚われのワグナス" /><br>

    <br>
    これは、恐妃の都の塔内部にいる古代人ワグナス（の幻影）の画像。ワグナスがいる場所はアラバカンの丘。<br>
    <Image src={古代人ワグナスとの対峙} width="700" alt="古代人ワグナスとの対峙" /><br>

    <br>
    アラバカンの丘の右から下を覗くと、何かしら建物のようなものが見える。<br>
    <Image src={崖から見える家} width="500" alt="崖から見える家" /><br>

    <br>
    <a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/seven_heroes_memory#thirteen`>七英雄の記憶13</a>で、七英雄が転移される様子を見ている大神官のシーンがあるが、この建物の辺りから見ていたのかも（ただの妄想です）。<br>
    <Image src={覗いている大神官} width="700" alt="覗いている大神官" /><br>

    <br>
    エンディングでオアイーブ訪れているのはこのアラバカンの丘のように見える。<br>
    ワグナスが捕らえられていた柱を墓標に見立てているのかもしれない。<br>
    <Image src={エンディングのアラバカンの丘} width="700" alt="エンディングのアラバカンの丘" /><br>
  </p>

  <br>
  地層は天？火？<br>
  ・浮遊城って誰が住んでたの？ワグナスが作った？<br>
  ラスダン前七英雄<br>
  ラスダンの七英雄<br>
  古代人Verの七英雄<br>
  初登場<br>
  本当に帰してくれる<br>
  戦闘中<br>
  戦闘終了時<br>

  <br>
  <h3 class="title" id="battle_pose">戦闘前ポーズ</h3>
  <p>
    第一形態<br>
    <Image src={pose_form1} width="500" alt="pose_form1" /><br>
    <br>
    第二形態<br>
    <Image src={pose_form2} width="500" alt="pose_form2" /><br>
    <br>
    古代人ワグナス<br>
    <Image src={図鑑古代人ワグナス} width="500" alt="図鑑古代人ワグナス" /><br>
  </p>

  <br>
  <h3 class="title" id="enemy_book">エネミー図鑑</h3>
  <p>
    火と天に耐性がある。<br>
    第一形態<br>
    <Image src={図鑑第一形態ワグナス} width="500" alt="図鑑第一形態ワグナス" /><br>
    <br>
    第二形態<br>
    <Image src={図鑑第二形態ワグナス} width="500" alt="図鑑第二形態ワグナス" /><br>
    <br>
    ワグナスがファイアストームを使うと青い炎と青い炎が出現する。<br>
    赤い炎<br>
    <Image src={赤い炎} width="500" alt="赤い炎"/><br>
    <br>
    青い炎<br>
    <Image src={青い炎} width="500" alt="青い炎" /><br>
  </p>

  <br>
  <h3 class="title" id="before_battle">戦闘開始前</h3>
  <p>
    <span style="color: yellow">ここは動画の方がいいかな。</span><br>
  </p>

  <br>
  <h3 class="title" id="after_defeat">倒した後</h3>
  <p>
    <span style="color: yellow">ここは動画の方がいいかな。</span><br>
  </p>

  <br>
  <h3 class="title">参考</h3>
  <ul>
    <li><a href="https://gamemania.soratobunezumi.co.jp/romasaga2-7heroes/" target="_blank" rel="noopener noreferrer">ゲームマニア 【ロマンシングサ・ガ2】七英雄の謎をどこよりも詳しく徹底的にネタバレ考察する</a></li>
    <li><a href="https://dic.pixiv.net/a/%E3%83%AF%E3%82%B0%E3%83%8A%E3%82%B9" target="_blank" rel="noopener noreferrer">ピクシブ百科事典 ワグナス</a></li>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E5%90%B8%E5%8F%8E%E3%81%AE%E6%B3%95%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【吸収の法】</a></li>
    <li><a href="https://www.jp.square-enix.com/rs2r/character/wagnas/" target="_blank" rel="noopener noreferrer">SQUARE ENIX ワグナス</a></li>
  </ul>
</MainLayout>
