---
import { Image } from 'astro:assets';
import { twitterCardEnum } from '../../../../../components/BaseHead.astro';
import MainLayout, { bgEnum, type Breadcrumb } from '../../../../../layouts/MainLayout.astro';
import { rightsEnum } from '../../../../../components/Footer.astro';
import type { index } from '../../../../../components/HeaderIndex.astro';
import { BASE_URL_ROMA2R, roma2rIndexPagebc } from '../index_romasaga2r.astro';
import 短命種 from './seven_heroes/img/subier/下劣な短命種に.jpg'

export const roma2rAncientPeoplePagebc: Breadcrumb = {
  name: "古代人について",
  item: `${BASE_URL_ROMA2R}/ancient_people/ancient_people`
};
const breadcrumbList: Breadcrumb[] = [roma2rIndexPagebc, roma2rAncientPeoplePagebc];
const indexList: index[] = [
  { id: "#ancient", name: "古代人" },
]
---

<MainLayout
  title="古代人について"
  description="ロマサガ2リメイクの古代人について"
  twitterCardSize={twitterCardEnum.summaryLargeImage}
  breadcrumbList={breadcrumbList}
  indexList={indexList}
  background={bgEnum.roma2r}
  rights={rightsEnum.roma2r}>

  <br/>
  <span id="ancient"></span>
  <h3 class="title">古代人について</h3>
  <p>
    七英雄やオアイーブ、サグザー、七英雄の記憶に登場した大神官やその他忘れられた町にいた人間はすべて古代人。<br/>
    数千年前からこの世界に住んでいる（住んでいた）。<br/>
    同化の法により長命。長命なるが故に死を恐れる。<span style="color: yellow">何と同化していたのか不明。古代人同士？短命種？いずれにしても闇が深そう。</span><br/>
    一方、短命な人間（古代人は『短命種』と呼んでいる）も存在し、アバロン皇帝を筆頭とする主人公やその他登場人物は短命種の生き残り。<br/>
    スービエは撃破後に「下劣な短命種に・・・！！」と言っている。（全員とは言えないが）古代人は短命種を見下しているという様子がうかがえる。<br/>
    <Image src={短命種} width="500" alt="短命種" /><br/>

    <br/>
    かつて、古代人は短命種を召し使っていた。短命種の文明はその時に古代人から受け継がれたもの。<br/>
    かつて、この世界には天変地異（※）が起きようとしていた。<br/>
    このため、次元転移装置を開発し、別次元に転移することでこの天変地異から逃れようとしている。<br/>
    ※この『天変地異』という単語は表記ゆれが多い。<a href="./sank_tower.html">沈んだ塔</a>の水龍は『変動』と言い、<a href="./seven_heroes/seven_heroes_memory.html#one">七英雄の記憶1</a>でサグザーは『大災厄』、<a href="./seven_heroes/seven_heroes_memory.html#seven">七英雄の記憶7</a>で大神官は『天変地異』と言っている<br/>
    <span style="color: yellow">同化の法を進化させたのが吸収の法、同化の法の短命種調整版が伝承法。</span><br/>
    七英雄は吸収の法でモンスターを吸収することで強くなり、クィーンを討伐。タームから民を守った。<br/>
    <span style="color: yellow">七英雄の記憶にも合った通り、吸収の法はその意識もモンスターに蝕まれるという副作用がある</span>。ゲーム中の七英雄はその成れの果て。<br/>
    天変地異が起こった後の世界がゲームの世界。一部の古代人は、忘れられた町等、この世界に残っている（サグザーとオアイーブも含む）。<br/>
    古代人が関係している場所では『古代遺跡』というBGMが流れる（以下動画参照）。<br/>
  </p>

  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/csrRA4pEmo0?si=nAzfU-iBRH74BBPK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <br/>
  <p>具体的な場所は以下。</p>

  <ul>
    <li class="normal">テレルテバの塔</li>
    <li class="normal">エイルネップの塔</li>
    <li class="normal">浮上島</li>
    <li class="normal">忘れられた町</li>
    <li class="normal">雪の遺跡</li>
    <li class="normal">砂の遺跡</li>
    <li class="normal">氷の遺跡</li>
  </ul>
  <p>
    <span style="color: yellow">あとは？</span><br/>
    浮上島には本棚や食器棚のようなものなどが多く残っている。恐らく、数千年前に古代人が生活していた名残だろう。<br/>
    <span style="color: yellow">画像欲しい</span><br/>
    雪の遺跡には『飼育錬』などのような場所があり、壊された檻や竜が多く生息している。おそらく古代人がここで飼っていたのだろうと考えられる。<br/>
    <span style="color: yellow">画像欲しい</span><br/>
  </p>

  <br/>
  <table border="1">
    <tr><th>七英雄</th><th>吸収したモンスター</th></tr>
    <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/kzinssie`>クジンシー</a></td><td>悪魔系、骸骨系、ゾンビ系</td></tr>
    <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/bokhohn`>ボクオーン</a></td><td>植物系</td></tr>
    <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/dantag`>ダンターグ</a></td><td>獣系</td></tr>
    <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/rocbouquet`>ロックブーケ</a></td><td>霊体系</td></tr>
    <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/noel`>ノエル</a></td><td>竜系</td></tr>
    <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/wagnas`>ワグナス</a></td><td>精霊系、有翼系</td></tr>
    <tr><td><a href=`${BASE_URL_ROMA2R}/ancient_people/seven_heroes/subier`>スービエ</a></td><td>水棲系、魚系</td></tr>
  </table>

  <br/>
  <h3 class="title">参考</h3>
  <ul>
    <li><a href="https://wikiwiki.jp/sagadic/%E3%80%90%E5%90%B8%E5%8F%8E%E3%81%AE%E6%B3%95%E3%80%91" target="_blank" rel="noopener noreferrer">サガ用語辞典 Wiki* 【吸収の法】</a></li>
  </ul>
</SiteLayout>
